<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">

<title>Document</title>
<link rel="stylesheet" href="/css/admin/index.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"
	integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/order.css" type="text/css">
<link rel="stylesheet" href="/css/layout.css" type="text/css">
</head>
<body>
	<div id="header" th:replace="@{admin/menu}"></div>
	<div class="container body-content"
		style="min-height: 460px; background-color: #fff; padding: 60px; margin-top: 20px !important;">
		<!-- The Modal -->
		<div class="body-content-title">
			<h1>Phòng đang ở</h1>
		</div>
		<form th:object="${order}" id="form" style="width: 100% !important;">
			<!-- Modal body -->
			<div class="modal-body"
				style="padding: 40px; border: 1px solid #3333;">
				<div class="row">
					<h4 class="modal-title">Thông tin phòng [[${roomOrder.name}]]</h4>
					<div class="col">
						<div>
							<div th:if="${roomOrder != null}">
								<p>123</p>

							</div>
							<p>
								Ngày nhận phòng : <b style="margin-left: 10px;">[[${time}]]</b>
							</p>
							<p>
								Loại phòng : <b style="margin-left: 10px;">[[${typeRoom.name}]]</b>
							</p>
							<p>
								Giá phòng : <b style="margin-left: 10px;">[[${priceRoom}]]
									VND / ngày</b>
							</p>

						</div>
					</div>
					<div class="col">
						<div>
							<p>
								Tổng thời gian ở : <b style="margin-left: 10px;">[[${totalTime}]]</b>
							</p>
							<p>
								Ngày trả phòng dự kiến (đặt trước) : <b
									style="margin-left: 10px;"></b>
							</p>
						</div>
					</div>
				</div>
				<div>
					<div class="row">
						<h4>Thông tin khác hàng</h4>
						<div class="col">
							<div class="form-group" hidden="true">
								<label for="name">id </label> <input th:value="${keyOrder}"
									id="keyOrder" class="form-group-item" />
							</div>
							<div class="form-group">
								<label for="name">Tên khách hàng: </label> <input readonly
									th:field="${customer.name}" class="form-group-item" />
							</div>
							<div class="form-group">
								<label for="phone">Số điện thoại: </label> <input readonly
									th:field="${customer.phone}" class="form-group-item" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="CCCD"> CCCD/CMND: </label> <input readonly
									th:field="${customer.CCCD}" class="form-group-item" />
							</div>
							<div class="form-group">
								<label for="numberPeople"> Số người: </label> <input readonly
									th:field="*{numberPeople}" class="form-group-item" />
							</div>
						</div>
						<div class="row" style="min-height: 400px;">
							<div class="col-6">
								<div class="form-service">
									<div class="form-group-serviced">
										<p>Dịch vụ:</p>
										<table class="table" style="width: 100% !important;">
											<thead>
												<tr>
													<th>Tên dịch vụ</th>
													<th>Giá</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr class="service" th:each="serviceRoom : ${serviceRooms}"
													th:object="${serviceRoom.value}">
													<td th:text="*{name}"></td>
													<td th:text="*{price}"></td>
													<td><input th:value="${serviceRoom.key}"
														class="checkbox" type="checkbox" name="cx" /></td>
												</tr>
											</tbody>
										</table>
										<div class="form-service-footer" th:if="${serviceRooms}">
											<button type="button" id="addService" class="btn btn-success">Thêm</button>
										</div>
									</div>
									<div class="form-bill">
										<div class="form-bill-body">
											<p></p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-service">
									<div class="form-group-serviced">
										<p>Dịch vụ bạn sử dụng :</p>
										<div class="container mt-3">
											<table class="table" style="width: 100% !important;">
												<thead>
													<tr>
														<th>Tên dịch vụ</th>
														<th>Giá</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr class="sv"></tr>
													<tr class="sv" th:each="so : ${serviceOrder}"
														th:object="${so.value}" th:value="${so.key}">
														<td th:text="*{name}"></td>
														<td th:text="*{price}"></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="form-bill">
										<div class="form-bill-body">
											<p></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer"
					style="border-top: 0.5px solid; padding-top: 10px">
					<a id="btn-pay" style="min-width: 120px; margin-left: 20px;"
						th:href="@{|/admin/orders/pay-form/${keyOrder}?idRoom=${id}}|"
						class="btn btn-success">Thanh toán</a> <a
						style="min-width: 120px;" th:href="@{/admin/orders}"
						class="btn btn-danger">Trở về</a>
				</div>
			</div>
		</form>
	</div>
<div id="footer" th:replace="@{user/footer}"></div>
</body>
<script type="text/javascript">
 $(document).ready(
		$('#addService').on("click",function(){
			console.log("click")
			var service = [];
			$("input:checkbox[name='cx']:checked").each(function(){    
				service.push($(this).val());
				var tr = "<tr class='sv'>"+$("input:checkbox[name='cx']:checked").parents().eq(1).html()+"</tr>"
				
				var htmls = "<tr class='sv'>"+tr+"</tr>";
				
				 $('.sv:last-child').after(htmls)
				
				$("input:checkbox[name='cx']:checked").parents().eq(1).remove();
				 $('.sv:last-child').find('.checkbox').remove();
			});
			console.log('value ',$('.sv').val())
			var key = $('#keyOrder').val()
			console.log("key ",key)
			$.post( "/admin/orders/addService/"+key,
				{
				service : service.join(",")
				},
				); 	
			})
		) 
	
</script>

</html>
