<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/change-password.css">
</head>

<body>
	<div id="header" th:replace="@{user/menu}"></div>
	<div id="sign-up">
		<div class="sign-up">
			<form class="change-password">
				<div class="heading">ĐỔI MẬT KHẨU</div>
				<div class="mb-3 mt-4">
					<input type="password" class="form-control" id="oldPassword">
					<label for="password" class="form-label">Mật Khẩu Cũ</label>
				</div>
				<div class="mb-3 mt-4">
					<input type="password" class="form-control" id="newPassword">
					<label for="password" class="form-label">Mật Khẩu Mới</label>
				</div>
				<div class="mb-3 mt-4">
					<input type="password" class="form-control" id="checkNewPassword">
					<label for="re-password" class="form-label">Xác Thực Mật
						Khẩu</label>
				</div>
			</form>
			<button type="submit" id="submitChangePassword" class="btn btn-primary">Đổi Mật Khẩu</button>
		</div>
	</div>
	<div id="footer" th:replace="@{user/footer}"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		const inputs = document.querySelectorAll('.form-control');
		const labels = document.querySelectorAll('.form-label');

		inputs.forEach(function (input, index) {
			input.addEventListener('blur', function () {
				if (input.value.trim() !== '') {
					labels[index].textContent = input
						.getAttribute('data-label');
				}
			});
		});

		$(document).ready(function () {
			$("#submitChangePassword").click(function () {
				var password = $("#oldPassword").val();
				var newPassword = $("#newPassword").val();
				var checkPassword = $("#checkNewPassword").val();

				if (password === null || password.trim() === '') {
					thongBao('Thông Báo', 'Vui lòng nhập mật khẩu cũ!', 'error', false);
					return;
				}
				if (newPassword === null || newPassword.trim() === '') {
					thongBao('Thông Báo', 'Vui lòng nhập mật khẩu mới!', 'error', false);
					return;
				}

				if (checkPassword === null || checkPassword.trim() === '') {
					thongBao('Thông Báo', 'Vui lòng xác nhận mật khẩu mới!', 'error', false);
					return;
				}
				if (newPassword.length < 6 || newPassword.length > 20) {
					thongBao('Thông Báo', 'Mật khẩu từ 6 đến 20 kí tự!', 'error', false);
					return;
				}
				if (newPassword !== checkPassword) {
					thongBao('Thông Báo', 'Mật khẩu không trùng khớp!', 'error', false);
					return;
				}

				$.ajax({
					type: "POST",
					url: "/change-password",
					data: {
						password: password,
						newpassword: newPassword,
						repassword: checkPassword
					},
					success: function (response) {
						if (response.success === true) {
							thongBao('Thông Báo', response.message, 'success', true);
						} else {
							thongBao('Thông Báo', response.message, 'error', false);
						}
					},
					error: function (xhr, status, error) {
						console.error(error);
					}
				});
			});
		});
	</script>
</body>
</html>