<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="/css/footer.css" rel="stylesheet" />
    </head>
    <body>
        <footer id="footer" class="columns">
            <div class="column">
                <div class="heading">Về chúng tôi</div>
                <div class="confirm"><i class="bi bi-geo-alt-fill"></i>Quận 12, TP.HCM</div>
                <div class="confirm"><i class="bi bi-telephone-fill"></i>999 999 999</div>
                <div class="confirm"><i class="bi bi-envelope-at-fill"></i>khachsan123@gmail.com</div>
            </div>
            <div class="column">
                <div class="heading">Thời gian làm việc</div>
                <div class="confirm"><i class="bi bi-alarm-fill"></i>Thứ 2 - Thứ 7: 8AM - 5h30PM</div>
                <div class="confirm"><i class="bi bi-alarm-fill"></i>CN: 8AM - 12h00AM</div>
            </div>
            <div class="column">
                <div class="heading">HOTEL</div>
                <img class="bo-cong-thuong" alt="Bộ Công Thương" src="/images/bo-cong-thuong.jpg">
                <div class="confirm">Giấy phép kinh doanh: 0101010101. Sở kế
                    hoạch và đầu tư thành phố Hồ Chí Minh </div>
            </div>
        </footer>
    </body>
</html>