<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/forgot-password.css">
</head>
<body>
	<div id="header" th:replace="@{user/menu}"></div>
	<div id="sign-up">
		<div class="sign-up">
			<div class="heading">QUÊN MẬT KHẨU</div>
			<b th:text="${message}" style="color: red;"></b>
			<form>
				<div class="mb-3 mt-4">
					<input type="email" name="email" class="form-control" id="username">
					<label for="username" class="form-label">Email</label> <input
						type="radio" class="btn-getcode" id="getcode" name="getcode">
					<button class="form-control button" th:formaction="@{|/account/retrieve-password|}" 
					type="submit" name="check-email" id="btnGetCode">GETCODE</button>
				</div>
			</form>
			<form >
				<div class="mb-3 mt-4">
					<input id="verifyCode" type="text" class="form-control">
					<label for="code" class="form-label">Mã CODE</label>
				</div>
				<button id="btnCheckCode" type="submit" class="btn btn-primary">Tiếp Theo</button>
			</form>

		</div>
	</div>
	<div id="footer" th:replace="@{user/footer}"></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
	        $("#btnGetCode").click(function(e) {
	            e.preventDefault();
	            var username = $("#username").val();

	            $.ajax({
	                url: "/account/retrieve-password",
	                type: "POST",
	                data: {
	                    username: username,
	                },
	                success: function(data) {
	                	if(data.success === false){
			                thongBao('Thông Báo!',data.message,'error',false);	
	                	}else{
	                		thongBao('Thông Báo!',data.message,'success',false);	
	                		document.getElementById("btnGetCode").disabled = true;
	                		var storedSeconds = sessionStorage.getItem('countdownSeconds');
	            			if (storedSeconds && !isNaN(storedSeconds)) {
	            				seconds = Number(storedSeconds);
	            			} else {
	            				seconds = 60;
	            			}

	            			countdown = setInterval(
	            					function() {
	            						seconds--;

	            						// Lưu giá trị của seconds vào session storage
	            						sessionStorage.setItem('countdownSeconds', seconds);

	            						document.getElementById("btnGetCode").innerHTML = seconds
	            								+ "s";
	            						if (seconds == 0) {
	            							clearInterval(countdown);
	            							document.getElementById("btnGetCode").innerHTML = "GETCODE";
	            							document.getElementById("btnGetCode").disabled = false;
	            							seconds = 60; // Đặt lại giá trị cho seconds để người dùng có thể click lại

	            							// Xóa giá trị seconds trong session storage
	            							sessionStorage.removeItem('countdownSeconds');
	            						}
	            					}, 1000);
	                	}
	                    console.log(data);
	                },
					error : function(xhr, status, error) {
						thongBao('Thông Báo!',error,'error',true);
					}
	            });
	        });
	    });
		// Xóa giá trị seconds trong session storage khi trang bị đóng
		window.onbeforeunload = function() {
			sessionStorage.removeItem('countdownSeconds');
		};
		
		$(document).ready(function() {
	        $("#btnCheckCode").click(function(e) {
	            e.preventDefault();
	            var verifyCode = $("#verifyCode").val();

	            $.ajax({
	                url: "/account/code-retrieve-password",
	                type: "POST",
	                data: {
	                	verifyCode: verifyCode,
	                },
	                success: function(data) {
	                	if(data.success === false){
			                thongBao('Thông Báo!',data.message,'error',false);	
	                	}else{	
	                		redirectURL("/account/accept-change-password");
	                	}
	                    console.log(data);
	                },
					error : function(xhr, status, error) {
						thongBao('Thông Báo!',error,'error',true);
					}
	            });
	        });
	    });
		</script>
</body>
</html>