<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/forgot-password-final.css">
</head>
<body>
	<div id="header" th:replace="@{user/menu}"></div>
	<div id="sign-up">
		<div class="sign-up">
			<div class="heading">ĐỔI MẬT KHẨU</div>
			<b th:text="${message}" style="color: red;"></b>
			<form>
				<div class="mb-3 mt-4">
					<input name="newPass" type="password" class="form-control"
						id="password"> <label for="password" class="form-label">Mật
						Khẩu Mới</label>
				</div>
				<div class="mb-3 mt-4">
					<input name="rePass" type="password" class="form-control"
						id="repassword"> <label for="re-password"
						class="form-label">Xác Thực Mật Khẩu</label>
				</div>
				<button type="submit" id="acceptChangePassword" class="btn btn-primary">Đổi Mật Khẩu</button>
			</form>

		</div>
	</div>
	<div id="footer" th:replace="@{user/footer}"></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#acceptChangePassword").click(function(e) {
        e.preventDefault();
        var password = $("#password").val();
        var repassword = $("#repassword").val();

        $.ajax({
            url: "/account/submit-retrieve-password",
            type: "POST",
            data: {
            	password : password,
            	repassword : repassword
            },
            success: function(data) {
            	if(data.success === false){
	                thongBao('Thông Báo!',data.message,'error',false);	
            	}else{	
            		 thongBao('Thông Báo!',data.message,'success',false);
            		 setTimeout(function() {
                		 redirectURL("/sign-in");
                     }, 2000);
            	}
                console.log(data);
            },
			error : function(xhr, status, error) {
				thongBao('Thông Báo!',error,'error',true);
			}
        });
    });
});
</script>
</body>
</html>