* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    font-size: 33px;
    color:blue;
    font-variant: small-caps;
}
#sign-up {
    margin-top: 100px;
    padding: 30px 0 50px 0;
    border-bottom: 1px solid lightgrey;
}

#sign-up .sign-up {
    width: 450px;
    background-color: rgb(236, 236, 236);
    padding: 40px 20px;
    margin: 0 auto;
    border-radius: 10px;
}

form .mb-3 {
    position: relative;
}

form .mb-3 label {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: all .5s ease;
}

form .mb-3 input:focus~label {
    transform: translateY(-190%);
    opacity: 1;
}
.sign-up a{
    color:blue !important;
}