* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-size: 33px;
    color: blue;
    font-variant: small-caps;
}

#sign-up {
    margin-top: 100px;
    padding: 30px 0 50px 0;
    border-bottom: 1px solid lightgrey;
}

#sign-up .sign-up {
    width: 450px;
    background-color: rgb(236, 236, 236);
    padding: 40px 20px;
    margin: 0 auto;
    border-radius: 10px;
}

form .mb-3 {
    position: relative;
}

form .mb-3 label.form-label {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: all .5s ease;
}

form .mb-3 input:focus~label.form-label {
    transform: translateY(-190%);
    opacity: 1;
}

.sign-up a {
    color: blue !important;
}

input[type="radio"].btn-getcode {
    display: none;
}
label#code-label{
    height: 100%;
    margin: 0;
}
input[type="radio"].btn-getcode+label#code-label {
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    min-width: 18%;
    height: 100%;
    text-align: center;
    margin-left: 2%;
    right:0;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: lightgrey;
}

input[type="radio"]:hover+label#code-label {
    border: 1px solid grey;
    color: grey;
}

input[type="radio"]:checked+label#code-label {
    border: 1px solid lightgrey;
    color: lightgrey;
}

.mb-3.mt-4:first-child {
    display: flex;
    position: relative;
}
.mb-3.mt-4:first-child #email{
    width: 80%;
}
